body {
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: large;
  }
  
  div {
    margin-top: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-attachment: fixed;
    animation-fill-mode: backwards;
    font-size: 50px;
    color: rgba(102, 51, 153, 0.918);
  }
  
  button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 100px;
    cursor: pointer;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    transition: transform 0.3s ease;
  }
  
  button:hover {
    transform: scale(1.1);
  }
  
  .hidden {
    display: none;
  }
